@model MaisSaude.Models.Agendamento

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="ID" class="form-control" />
                <input type="hidden" asp-for="UsuarioPaciente" class="form-control" />
                <input type="hidden" asp-for="DataInclusao" class="form-control" />
                <input type="hidden" asp-for="Ativo" value="1" class="form-control" />
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="DataAlteracao" class="form-control" />

                <div class="card-header">
                    <h5>Agendamento de consulta</h5>
                </div>
                <br />

                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Paciente" class="control-label"></label>
                                <input asp-for="Paciente" class="form-control" readonly />
                                <span asp-validation-for="Paciente" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Clinica" class="control-label"></label>
                                <select asp-for="Clinica" class="form-select" asp-items="ViewBag.CaregarClinica"></select>
                                <span asp-validation-for="Clinica" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Medico" class="control-label"></label>
                                <input asp-for="Medico" class="form-control"  />
                                <span asp-validation-for="Medico" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Especialidade" class="control-label"></label>
                        <select asp-for="Especialidade" class="form-select" asp-items="ViewBag.CaregarEspecialidade">
                            <option selected></option>
                        </select>
                        <span asp-validation-for="Especialidade" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DataConsulta" class="control-label"></label>
                        <input asp-for="DataConsulta" class="form-control" />
                        <span asp-validation-for="DataConsulta" class="text-danger"></span>
                    </div>


                    <br />
                    <hr />
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index">Back to List</a>

                    </div>


                    <br />

                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

        let especialidade = document.getElementById("Especialidade");
        let medico = document.getElementById("Medico");

        especialidade.addEventListener("change", function () {

            var url = 'https://localhost:7291/api/Agendamento/GetMedico?especialidade=' + especialidade.value;

            fetch(url).then(response => {
                return response.json();
            }).then(data => {
                medico.value = data.nome
            })

        });



    </script>
}