

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #d3dce8;
}

.Gradiente {
    background-image: linear-gradient(to left bottom, #71c8cb, #46afc9, #2f94c4, #3f76b6, #59569d)
}

.box {
    width: 85px;
    display: inline-block;
}


