@model MaisSaude.Models.Clinica

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" class="form-control" type="hidden" />
            <input asp-for="DataInclusao" class="form-control" type="hidden" />
            <input asp-for="DataAlteracao" class="form-control" type="hidden" />
            <input asp-for="TipoPermissao" class="form-control" type="hidden" value="clinica" />

            <input value="true" type="hidden" class="form-check-input" asp-for="Ativo" />


            <div class="card">
                <div class="card-header">Cadastrar clinica</div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CNPJ" class="control-label"></label>
                                <input asp-for="CNPJ" class="form-control" />
                                <span asp-validation-for="CNPJ" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Telefone" class="control-label"></label>
                                <input asp-for="Telefone" class="form-control" />
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Logradouro" class="control-label"></label>
                                <input asp-for="Logradouro" class="form-control" />
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Estado" class="control-label"></label>
                                <input asp-for="Estado" class="form-control" />
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" class="form-control" />
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label asp-for="Cidade" class="control-label"></label>
                                <input asp-for="Cidade" class="form-control" />
                                <span asp-validation-for="Cidade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Cep" class="control-label"></label>
                                <input asp-for="Cep" class="form-control" />
                                <span asp-validation-for="Cep" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Complemento" class="control-label"></label>
                                <input asp-for="Complemento" class="form-control" />
                                <span asp-validation-for="Complemento" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="mb-3 mt-3">
                    <h4>login</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Usuario" class="control-label"></label>
                                <input asp-for="Usuario" class="form-control" readonly />
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label asp-for="Senha" class="control-label"></label>
                                <input asp-for="Senha" class="form-control" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Senha" class="control-label"></label>
                                <input id="senhaNova"asp-for="Senha" class="form-control" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <hr class="mb-3 mt-3">


                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-primary" /> <a class="btn btn-primary" asp-action="Index">Voltar</a>


                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


